@import "tailwindcss";
@plugin "daisyui";

/* Navbar Fix */
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(5px);
  border-bottom: 1px solid #e5e7eb;
}


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.dashboard-container {
  font-family: "Poppins", sans-serif;
}
